<div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready To Get Started?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ratione pariatur dolor eligendi tempora modi, aliquam quod fugit, quas a debitis perspiciatis similique accusantium quisquam nemo illo. Iste, voluptates eveniet.
        </p>
      </div> 
      <a href="#" class="btn btn--secondary btn--streched">GET STARTED</a>
    </div>
  </div>